.userpage-content__container{
    border: 1px solid black;

}

.userpage__content{
    border: 1px solid black;

}

.userpage__pets{
    border: 1px solid black;
    margin-left: 20px;
    display:flex;
    flex-display:row;
    flex-wrap: nowrap;
 
}

.userpage__events-section {
    border: 1px solid black;
    
}

.userpage__future-events{
    border: 1px solid black;
    display:flex;
    flex-display:row;
    flex-wrap: wrap;
}

.userpage__past-events{
    border: 1px solid black;
}



.userpage__email {
  flex-direction: row;
  margin-top: 10px;
  margin-left: 20px;
  font-style: italic;

  font-size: 20px;
 margin-left: 15px; ; 

}
.userpage__username{
  flex-direction: row;
  margin-top: 40px;
  margin-left: 20px;
  font-style: italic;
  font-size: 20px;
 margin-left: 15px; ; 
 font-family:monospace

}




.userpage__profile-pic {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin-top: 35px;
  margin-left: 15px;
  }
  .userpage__profile-pic-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .userpage__add-pet-link{

    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    cursor: pointer;
    background-color: rgb(246, 64, 96);
    color: white;
    border: none;
    border-radius: 10px;
    border: 2px solid black;

  
  }

.userpage__create-event-link{
  
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  cursor: pointer;
  background-color: rgb(246, 64, 96);
  color: white;
  border: none;
  border-radius: 10px;
  border: 2px solid black;

}

.userpage__create-event-link:hover{
  background-color: hsl(174, 64%, 51%);

}

  .userpage__add-pet-link:hover{
    background-color: hsl(174, 79%, 66%);
  }


  .userpage__pets-header{
    font-size: 40px;
    font-family:cursive;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
  }


  .pet-card__events-list{ 
 
    margin:auto;
    display:flex;
    flex-display:row;
    flex-wrap: wrap;
  }

  .userpage_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 10%;
    padding-bottom: 25%;
  }