.event-card__container{
  width: 250px;
  height: 350px;
  overflow: hidden;
  margin-right: 16px;
  margin-top: 30px;
  margin-left: 10px;
  border: 3px solid #0026ffde;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 25px;
  /* padding: 10px; */


}
.event-card__container:hover{
  border: 8px solid #fa22cbde;
background-color: #fa22cbde;

}
.event-card__pic-container{
  position: relative;
  width: 100%;
  height: 60%;
  overflow: hidden;
  background-color: #e5efb3;

}
.event-card__pic-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20%;
}
.event-card__name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 10px;
  background-color: #e5efb3;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: center;
  }
.event-card__datetime,
.event-card__attendees,
.event-card__duration,
.event-card__address,
.event-card__description {
  margin-top: 6px;
  font-size: 12px;
}

.event-card__details{
  padding: 15px;
  background-color: #e5efb3;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.event-card__link-container {
  text-decoration: none;
  color: #020202;
  }
