.eventsPage_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 10%;
    padding-bottom: 25%;

}

.eventspage__events{
    background-color: rgb(225, 236, 237);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.events_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 10%;
    padding-bottom: 25%;

}

.userpage__events-header{

    font-size: 40px;
    font-family:cursive;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.userpage__add-event-link{
    margin: 10px;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    cursor: pointer;
    background-color: rgb(242, 67, 64);
    color: rgb(255, 255, 255);
    border:none;
    border-radius: 10px;
}
.userpage__add-event-link:hover{

    background-color: hsl(174, 44%, 52%);
}