.eventsPage_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 10%;
    padding-bottom: 25%;

}

.eventspage__events{
    background-color: rgb(225, 236, 237);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
