.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(88, 185, 254);
    padding: 0.5rem;
    position: relative;
    z-index: 2;
}

.nav-bar::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2rem;
    height: 2rem;
    background: linear-gradient(rgba(88, 185, 254, 1), rgba(225, 237, 238, 0));
    z-index: -1;
}

.navbar-logo {
    width: 110px;
    border-radius: 50%;
    /* Makes the image circular */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    /* Box shadow for a lifted effect */
    object-fit: cover;

}

.nav-text {
    text-decoration:none;
    color: black;
    margin: 0 10px;
}

.nav-profile_dropdown_container {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.navbar-profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(202, 226, 255)
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    min-width: 160px;
    display: none;
    /* Initially hidden */
}

.dropdown-item {
    padding: 12px 16px;
    text-decoration: none;
    color: black;
    display: block;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

.nav-bar-right {
    display: flex;
    align-items: center;
}

.nav-button {
    display: flex;
    padding-top: 4px;
    padding-right: 6px;
    column-gap: 10px;
    justify-content: space-between;
}

.nav-button:hover {
    cursor: pointer;
}

.dropdown-item{
    margin-top: center;
    font-size: 15px;
    font-family: fantasy;
    font-weight:600;


}