.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 0.5rem;
}

.navbar-logo {
    width: 110px;

}

.nav-text {
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

.nav-bar-right {
    display: flex;
    align-items: center;
}

.nav-button {
    display: flex;
    padding-top: 4px;
    padding-right: 6px;
    column-gap: 10px;
    justify-content: space-between;
}

.nav-button:hover {
    cursor: pointer;
}
