.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(88, 185, 254);
    padding: 0.5rem;
    position: relative;
    z-index: 2;
}

.nav-bar::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2rem;
    height: 2rem;
    background: linear-gradient(rgba(88, 185, 254, 1), rgba(225, 237, 238, 0));
    z-index: -1;
}

.navbar-logo {
    width: 110px;
    border-radius: 50%;
    /* Makes the image circular */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    /* Box shadow for a lifted effect */
    object-fit: cover;

}

.nav-text {
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

.nav-bar-right {
    display: flex;
    align-items: center;
}

.nav-button {
    display: flex;
    padding-top: 4px;
    padding-right: 6px;
    column-gap: 10px;
    justify-content: space-between;
}

.nav-button:hover {
    cursor: pointer;
}
